package main

templ Auth(){
  <div id="auth" class="h-screen flex justify-center items-center">
    <div class="w-full flex flex-col justify-center items-center px-4">
      <div class="w-full max-w-md bg-gray-900 p-8 rounded-lg shadow-md">
        <h2 class="text-red-500 text-3xl font-bold mb-2 text-center">Chat Application</h2>
        @LoginForm(nil)
      </div>
    </div>
  </div>
}
